target
.idea
.gradle
.classpath
.project
.settings
*.iml
.idea
.mymetadata
.metadata
RemoteSystemsTempFiles
zkconf.properties
.externalToolBuilders
_jsp/
bin
*/build/
build/
*.MF
*.war
/classes/
/LOG_DIR_IS_UNDEFINED/
/files/
/WebContent/
.factorypath
.springBeans
