<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>管理后台</title>
<th:block th:include="/common/common :: header"></th:block>
</head>
<body page="others"> <!-- 控制一级菜单高亮-->
   <th:block th:include="/common/common :: toolbar"></th:block>
   <div id="body-content" menu="help"> <!-- 控制二级菜单高亮 -->
      <th:block th:include="/common/common :: others"></th:block><!-- 控制二级菜单 列表-->
   </div>
   <div class="main">
   <p style="font-weight:bold;">1.&nbsp;如果提示“用户未登录”，请刷新页面重新登录；</p>
   <p style="font-weight:bold;">2.&nbsp;需要输入跳转链接的地方，请输入带有“http”或“https”开头的链接；</p>
   <p style="font-weight:bold;">3.&nbsp;列表页“跳转链接”、“图片”均可点击跳转到页面，可点击以验证其有效性；</p>
   <p style="font-weight:bold;">4.&nbsp;添加新文章后，请务必点击“英文”按钮编辑英文版内容，否则英文页面将无法正确显示；</p>
   <p style="font-weight:bold;">5.&nbsp;如果操作过程出现问题，请尽量保存截图和操作步骤，联系产品经理解决。</p>
   </div>
   <!-- 添加和编辑的弹框  -->
   <div th:include="/common/common :: footer"></div>
   <script type="text/javascript" src="/js/demo/demo.js"></script>
</body>
</html>