<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>管理后台</title>
<th:block th:include="/common/common :: header"></th:block>
<script type="text/javascript" src="/js/kindeditor-min.js"></script>
<script type="text/javascript" src="/js/lang/zh_CN.js"></script>
<script type="text/javascript" src="/js/homepage/homepage.js"></script>
<script type="text/javascript" src="/js/homepage/base.js"></script>
</head>
<body page="homepage">
   <th:block th:include="/common/common :: toolbar"></th:block>
   <div id="body-content" menu="base">
      <th:block th:include="/common/common :: homepage"></th:block>
      <div class="main">
         <div th:replace="/common/present :: present-dialog(resetable=true)"></div>
      </div>
   </div>
   <div th:include="/common/common :: footer"></div>
</body>
</html>